#getNumber {
    font-size: 22px;
    text-align: center;
}

.inputNumberBox {
    display: flex;
    justify-content: center;
}

#paragraph {
    margin-left: 20px;
    background-color: darkcyan;
    color: white;
    padding: 30px;
}

.header {
    background-color: darkcyan;
    color: white;
    padding: 30px;
    text-align: center;
    margin: -8px;
}

.instructions {
    background-color: darkcyan;
    color: white;
    padding: 20px;
    text-align: center;
    margin: -8px;
    margin-top: -30px;
}

